{{ $bootstrap:="bootstrap-grid.min.css" }}
{{ $pico:="pico.min.css" }}
{{ $empty:="" }}
{{ $about:="about" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ or .Title .Site.Title }}{{ if ne .Kind "home" }} | {{ .CurrentSection.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ relURL $bootstrap }}">
    <link rel="stylesheet" href=" {{ relURL $pico }}">
</head>

<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="{{ relURL $empty }}" class="contrast" ><strong>Jugo</strong></a>
            </li>
            <li>
                <a href="{{ relURL $empty }}">Home</a>
            </li>
            <li>
                <a href="{{ relURL $about }}">About</a>
            </li>
        </ul>
    </nav>
    {{ block "page" . }}{{ end }}
</body>

</html>